@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Carter+One&family=DM+Serif+Display&family=DynaPuff&family=Handlee&family=Indie+Flower&family=Londrina+Solid&family=Shadows+Into+Light&family=Skranji&family=Yeseva+One&display=swap');

.font1 {
    font-family: 'Alkatra', cursive;
}
.font2 {
    font-family: 'Carter One', cursive;
}
.font3 {
    font-family: 'DM Serif Display', cursive;
}
.font4 {
    font-family: 'DynaPuff', cursive;
}
.font5 {
    font-family: 'Handlee', cursive;
}
.font6 {
    font-family: 'Indie Flower', cursive;
}
.font7 {
    font-family: 'Londrina Solid', cursive;
}
.font8 {
    font-family: 'Shadows Into Light', cursive;
}
.font9 {
    font-family: 'Skranji', cursive;
}
.font10 {
    font-family: 'Yeseva One', cursive;
}