/* banner__type */
.banner__wrap {
    background-image: url(../img/bannerType01_01@2x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    background-size: cover;
    color: #fff;
}
.banner__inner h3 {
    font-size: 50px;
    margin-bottom: 50px;
}
.banner__inner p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 100px;
}
.banner__inner a {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* 미디어쿼리 */
@media (max-width: 960px){
    .banner__inner h3 {
        font-size: 40px;
    }
}
@media (max-width: 600px){
    .banner__inner h3 {
        font-size: 30px;
    }
    .banner__inner p {
        margin-bottom: 50px;
    }
}