/* text__type */
.text__inner {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text__inner .text{
    width: 32.3333%;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 90px 20px 20px 20px;
    box-sizing: border-box; /* 패딩 width 안으로 줄 때*/
    margin-bottom: 20px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.text__inner .text:hover{
    background-color: #f5f5f5;
}
.text__inner .text::before{
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
.text__inner .text.t1::before{
    background-image: url(../img/textType01_01.svg);
    background-color: rgba(0, 117, 255, 0.5);
}
.text__inner .text.t2::before{
    background-image: url(../img/textType01_02.svg);
    background-color: rgba(255, 0, 138, 0.5);
}
.text__inner .text.t3::before{
    background-image: url(../img/textType01_03.svg);
    background-color: rgba(5, 255, 0, 0.5);
}
.text__inner .text.t4::before{
    background-image: url(../img/textType01_04.svg);
    background-color: rgba(255, 184, 0, 0.5);
}
.text__inner .text.t5::before{
    background-image: url(../img/textType01_05.svg);
    background-color: rgba(255, 0, 0, 0.5);
}
.text__inner .text.t6::before{
    background-image: url(../img/textType01_06.svg);
    background-color: rgba(82, 0, 255, 0.5);
}
.text__title{
    font-size: 24px;
    margin-bottom: 10px;
}
.text__desc{
    font-size: 16px;
    color: #666;
    margin-bottom: 16px;
    line-height: 1.5;
}
.text__btn{
    float: right;
    position: relative;
    padding-right: 20px;
}
.text__btn::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_plus.svg);
    transition: all 0.3s;
}
.text__btn:hover::before{
    transform: rotate(360deg);
}

/* 미디어쿼리 */
@media (max-width: 960px){
    .text__inner .text {
        width: 49%;
    }
}
@media (max-width: 600px){
    .text__inner .text {
        width: 100%;
    }
}