body {
    background: #008080;
    margin: 0;
    padding: 0;
    user-select: none;
    font-weight: 300;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../img/windows98_logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
}

#toolbar {
    background: #c0c0c0;
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    /* border-top: 2px solid #fff; */
    box-shadow: 0 -2px #fffdfc, 0 -4px #cce9eb;
  }
  #toolbar .toolbar-start-menu {
    float: left;
  }
  #toolbar .toolbar-start-menu .start-button {
    background: url(https://win98icons.alexmeub.com/icons/png/windows-0.png) no-repeat 2px center/24px;
    padding-left: 28px;
    padding-right: 5px;
    height: 29px;
    margin: 2px 3px;
    font-weight: bold;
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    color: #000;
    font-size: 20px;
  }
  #toolbar .toolbar-start-menu .start-button:hover {
    background-color: #a7a7a7;
  }

  /* toolbar-start-menu */
  #toolbar .toolbar-start-menu .start-menu-wrapper {
    border: 2px solid #7c7c7c;
    border-top-color: #fff;
    border-left-color: #fff;
    background: #c0c0c0;
    position: fixed;
    left: 0;
    bottom: 39px;
    width: 190px;
    min-height: 400px;
    display: none;
  }
  #toolbar .toolbar-start-menu .start-menu-wrapper.show {
    display: block;
  }
  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu-title {
    height: 100%;
    padding: 5px 5px;
    background: linear-gradient(90deg, #00007b 0%, #0000ff 5%, #00007b 100%);
    color: #fff;
    width: 40px;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
  }
  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu-title span {
    transform: rotate(-90deg);
    transform-origin: left 0;
    position: absolute;
    left: 10px;
    bottom: -10px;
  }
  #toolbar .toolbar-start-menu .start-menu-wrapper .start-menu {
    margin-left: 40px;
  }

  #toolbar .toolbar-separator {
    width: 2px;
    height: 26px;
    margin-top: 2px;
    background: #797979;
    float: left;
    border-right: 1px solid #fff;
  }
  #toolbar .toolbar-left {
    float: left;
    padding: 0 5px;
  }
  #toolbar .toolbar-icon {
    background: no-repeat center/auto 20px;
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 3px;
    margin: 3px 2px;
  }
  #toolbar .toolbar-icon.ie {
    background-image: url(https://win98icons.alexmeub.com/icons/png/msie1-4.png);
  }
  #toolbar .toolbar-icon.outlook {
    background-image: url(https://win98icons.alexmeub.com/icons/png/outlook_express-0.png);
  }
  #toolbar .toolbar-icon.desktop {
    background-image: url(https://win98icons.alexmeub.com/icons/png/desktop-4.png);
  }
  #toolbar .toolbar-icon.channels {
    background-image: url(https://win98icons.alexmeub.com/icons/png/channels-5.png);
  }
  #toolbar .toolbar-right {
    float: right;
    margin: 2px 3px;
    height: 29px;
    border: 2px solid #7c7c7c;
    border-bottom-color: #fff;
    border-right-color: #fff;
  }
  #toolbar .toolbar-right .time {
    padding: 5px 10px 0 10px;
    color: #000;
    font-size: 16px;
  }